@import "mixins";

.quote-section {
    --quote-section--image-overlap: 11.3125rem;

    @include mq('desktop') {
        --quote-section--image-overlap: 2rem;
    }

    & {
        padding-top: var(--quote-section--image-overlap);
    }

    .quote-section__main-image-wrapper {
        --quote-section--main-image-wrapper--background-radius: 16rem;

        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: calc(-1 * var(--quote-section--image-overlap));
        // I have no idea what I'm doing here
        background: no-repeat bottom center / var(--quote-section--main-image-wrapper--background-radius) url('../assets/pattern-blur.svg');

        @include mq('tablet') {
            --quote-section--main-image-wrapper--background-radius:
                22rem;
        }

        @include mq('desktop') {
            --quote-section--main-image-wrapper--background-radius:
                31rem;
            padding: 0 2.5rem;
            margin-top: calc(-1 * (5.5rem + var(--quote-section--image-overlap)));
            margin-bottom: -5.5rem;
            align-self: flex-end;
        }
    }

    .quote-section__curved-line {
        @include mq('desktop') {
            margin-top: 4.5625rem;
        }

        @include mq('desktop') {
            margin-right: 2.5rem;
        }
    }

    .quote-section__main {
        padding: 0 1rem 4rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2.5rem;
        border-radius: 0.9438rem;
        background: var(--color--primary-dark-blue);
        color: var(--color--primary-cream-white);

        @include mq('desktop') {
            padding: 5.5rem 7.8125rem 5.5rem 7rem;
            flex-direction: row;
            align-items: flex-start;
            text-align: start;
            // solved with margin/padding on desktop
            // because of the fuzzy background circle
            gap: 0;
        }
    }

    .quote-section__text-block {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        @include mq('desktop') {
            max-width: 21.875rem;
        }
    }

    .quote-section__title {
        @include typo('heading-l');
    }

    .quote-section__body {
        color: var(--color--primary-cream);
        @include typo('quote');
    }

    .quote-section__footer {
        text-transform: uppercase;
    }

    .quote-section__footer-title {
        @include typo('heading-m-b');
    }

    .quote-section__footer-sub-title {
        @include typo('heading-s');
    }
}
