@import "mixins";

.stats-grid {
    & {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;

        @include mq('tablet') {
            flex-direction: row;
            justify-content: space-between;
        }

        @include mq('desktop') {
            text-align: start;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            row-gap: 3.9375rem;
        }
    }

    .stats-grid__item {
        display: flex;
        flex-direction: column;
    }

    .stats-grid__item-value {
        @include typo('stats-item-heading-l');
    }

    .stats-grid__item-title {
        color: var(--color--primary-grey);

        & {
            @include typo('heading-s');
        }
    }
}
