@import 'mixins';
@import 'reset';

:root {
    --color--primary--purple-100: hsl(254, 88%, 90%);
    --color--primary--purple-500: hsl(256, 67%, 59%);

    --color--primary--yellow-100: hsl(31, 66%, 93%);
    --color--primary--yellow-500: hsl(39, 100%, 71%);

    --color--base--white: hsl(0, 0%, 100%);
    --color--base--black: hsl(0, 0%, 7%);

    --color--base--background: hsl(300, 5%, 96%);

    --spacing--100: 0.5rem; // 8px
    --spacing--200: 1rem; // 16px
    --spacing--300: 1.5rem; // 24px
    --spacing--400: 2rem; // 32px
    --spacing--500: 2.5rem; // 40px;
}

body {
    background: var(--color--base--background);
    @include typography("text-preset-4");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


@import 'components/bento-box';
@import 'components/bento-box-card';