@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 400 700;
        src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
    }

    @font-face {
        font-family: 'Figtree';
        font-style: italic;
        src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
    }

    @font-face {
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 600;
        src: url(./assets/fonts/static/Figtree-SemiBold.ttf);
    }

    @font-face {
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 800;
        src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
    }
}
